---
import "../styles/footer.css";

interface SocialLink {
  icon: string;
  label: string;
  url: string;
}

interface Props {
  logoText?: string;
  company?: {
    name: string;
    tax?: string;
    address: string;
    phone?: string;
    email?: string;
  };
  learnMoreTitle?: string;
  socialLinks?: SocialLink[];
}

const {
  company = {
    name: "Công ty Cổ Phần Eco Mobile ",
    tax: "0108513416",
    address:
      "Tầng 8, Tòa nhà Coalimex Building, Số 33 Phố Tràng Thi, Phường Cửa Nam, Thành phố Hà Nội",
    phone: "0398129929",
    email: "info@ecomobile.vn",
  },
  learnMoreTitle = "Tìm hiểu thêm",
  socialLinks = [
    {
      icon: "facebook",
      label: "Facebook",
      url: "#",
    },
    {
      icon: "linkedin",
      label: "LinkedIn",
      url: "#",
    },
    {
      icon: "youtube",
      label: "YouTube",
      url: "#",
    },
    {
      icon: "website",
      label: "Website",
      url: "#",
    },
  ],
} = Astro.props;
---

<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-left">
        <div class="footer-logo">
          <svg
            width="327"
            height="80"
            viewBox="0 0 327 80"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_266_4131)">
              <path
                opacity="0.9"
                d="M10.137 34.1768C8.78683 30.8489 6.26174 23.3248 6.11579 19.829C6.072 18.676 6.01362 18.5081 7.22507 18.1943C12.9613 16.7055 27.1557 14.538 63.4849 14.3629C63.7038 14.3921 66.3019 14.1512 66.696 14.6256C66.9806 14.9686 66.6303 15.786 66.4186 16.5669C62.0837 32.8705 56.3986 43.5473 56.3986 43.5473C56.3986 43.5473 62.4924 34.3008 68.1775 22.3906C69.6224 19.362 73.8625 10.7066 73.8334 9.56084C73.8188 9.15945 73.899 8.82375 71.1477 8.03557C62.2807 5.50319 32.1402 -1.78745 0.386905 16.2239C-0.16044 16.5304 0.0220085 16.9974 0.0439024 17.0777C6.86747 42.241 19.887 52.3195 19.3761 51.5605C18.5734 50.3636 13.8151 43.2408 10.1297 34.1841L10.137 34.1768ZM72.5854 45.7586C71.9505 47.0504 68.1628 54.7351 62.1567 62.4563C59.9527 65.2879 54.6982 71.243 51.7425 73.1113C50.7646 73.7316 50.6478 73.863 49.772 72.9653C45.6122 68.7471 36.6431 57.5375 18.3252 26.1564C18.2377 25.952 16.7343 23.821 16.9459 23.2518C17.0992 22.8358 17.9822 22.7336 18.7631 22.522C35.0448 18.1213 47.1375 17.7053 47.1375 17.7053C47.1375 17.7053 36.0811 17.0485 22.9302 18.0848C19.5805 18.3476 9.9691 19.0044 8.99117 19.6028C8.64817 19.8144 8.31976 19.9093 9.01307 22.6898C11.2535 31.6371 20.0111 61.3835 51.4871 79.8765C52.0271 80.1903 52.3336 79.8035 52.3993 79.7451C70.7755 61.2521 72.9941 44.9412 72.5927 45.7586H72.5854ZM80.511 3.10216C55.3112 -3.59005 40.0658 2.64239 40.9853 2.57671C42.4157 2.48184 50.9689 1.9272 60.6606 3.27002C64.2147 3.76628 71.9943 5.34263 75.0886 6.97007C76.1103 7.51012 76.2855 7.53931 75.9498 8.75077C74.3734 14.4651 69.1408 27.8349 51.1003 59.3766C50.9689 59.5517 49.8742 61.9235 49.2685 62.0257C48.8306 62.0987 48.2979 61.3835 47.7286 60.8143C35.7892 48.904 29.3889 38.6358 29.3889 38.6358C29.3889 38.6358 34.3442 48.5391 41.81 59.4204C43.7075 62.1863 49.0787 70.1921 50.0859 70.7395C50.4362 70.9292 50.6916 71.17 52.7496 69.1777C59.3834 62.7628 80.781 40.3216 81.0875 3.82466C81.0875 3.19704 80.6058 3.12406 80.5183 3.10216H80.511ZM99.1134 51.597H117.993V45.6054H105.871V39.0737H117.044V33.0821H105.871V27.5867H117.993V21.5951H99.1134V51.6116V51.597ZM133.231 27.2583C135.391 27.2583 138.369 27.5284 140.982 27.9808L141.93 22.0768C138.953 21.4492 136.253 21.1281 133.231 21.1281C125.663 21.1281 122.277 24.8719 122.277 30.3235V42.854C122.277 48.3056 125.656 52.0494 133.231 52.0494C136.253 52.0494 138.953 51.7356 141.93 51.1007L140.982 45.1967C138.369 45.6491 135.391 45.9192 133.231 45.9192C129.896 45.9192 129.042 44.3866 129.042 41.7739V31.4109C129.042 28.7982 129.896 27.2656 133.231 27.2656V27.2583ZM156.709 21.1281C148.236 21.1281 145.083 25.7696 145.083 30.3235V42.854C145.083 47.4079 148.236 52.0494 156.709 52.0494C165.182 52.0494 168.334 47.4079 168.334 42.854V30.3235C168.334 25.7696 165.182 21.1281 156.709 21.1281ZM161.576 42.2629C161.576 44.6055 160.088 46.0505 156.709 46.0505C153.33 46.0505 151.841 44.6055 151.841 42.2629V30.9073C151.841 28.5647 153.33 27.1197 156.709 27.1197C160.088 27.1197 161.576 28.5647 161.576 30.9073V42.2629ZM204.977 21.5805L197.767 40.6865L190.557 21.5805H183.799L182.536 51.597H189.068L189.52 34.9212L194.746 47.7218H200.781L206.006 34.9212L206.459 51.597H212.99L211.728 21.5805H204.97H204.977ZM229.36 21.1281C220.887 21.1281 217.734 25.7696 217.734 30.3235V42.854C217.734 47.4079 220.887 52.0494 229.36 52.0494C237.833 52.0494 240.985 47.4079 240.985 42.854V30.3235C240.985 25.7696 237.833 21.1281 229.36 21.1281ZM234.227 42.2629C234.227 44.6055 232.739 46.0505 229.36 46.0505C225.981 46.0505 224.492 44.6055 224.492 42.2629V30.9073C224.492 28.5647 225.981 27.1197 229.36 27.1197C232.739 27.1197 234.227 28.5647 234.227 30.9073V42.2629ZM263.251 35.9575C265.638 34.9212 266.586 33.3886 266.586 31.2284V28.1633C266.586 24.1056 264.288 21.5805 258.026 21.5805H246.174V51.597H258.975C264.966 51.597 267.674 48.6705 267.674 44.4304V41.5039C267.674 38.7088 265.733 36.5486 263.259 35.9575H263.251ZM252.925 27.0321H257.114C259.004 27.0321 259.821 27.8422 259.821 29.1485V31.7612C259.821 32.9799 258.916 33.8776 257.114 33.8776H252.925V27.0248V27.0321ZM260.901 43.5254C260.901 45.6856 259.23 46.1381 257.114 46.1381H252.925V39.154H258.062C259.865 39.154 260.901 40.0078 260.901 41.6791V43.5254ZM272.169 51.597H278.927V21.5805H272.169V51.597ZM291.779 21.5805H285.021V51.597H303.682V45.6054H291.786V21.5805H291.779ZM326.386 27.5721V21.5805H307.506V51.597H326.386V45.6054H314.264V39.0737H325.437V33.0821H314.264V27.5867H326.386V27.5721Z"
                fill="white"></path>
            </g>
            <defs>
              <clipPath id="clip0_266_4131">
                <rect width="326.386" height="80" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </div>

        <div class="footer-info">
          <p>
            <strong
              >Công ty Cổ Phần {
                company.name.split(" ").slice(-2).join(" ")
              }</strong
            >
          </p>
          <p>Mã số thuế: {company.tax}</p>
          <p>Địa chỉ: {company.address}</p>
          <p>Số điện thoại liên hệ: {company.phone}</p>
          <p>Email: {company.email}</p>
        </div>
      </div>

      <div class="footer-right">
        <h3 class="footer-section-title">{learnMoreTitle}</h3>
        <div class="footer-socials">
          {
            socialLinks.map((link) => (
              <a href={link.url} class="footer-social-link" title={link.label}>
                {link.icon === "facebook" && (
                  <svg
                    width="56"
                    height="56"
                    viewBox="0 0 56 56"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_266_4137)">
                      <path
                        d="M47.7969 0H8.20312C3.6803 0 0 3.6803 0 8.20312V47.7969C0 52.3197 3.6803 56 8.20312 56H24.7188V36.2031H18.1562V26.3594H24.7188V19.6875C24.7188 14.2593 29.1343 9.84375 34.5625 9.84375H44.5156V19.6875H34.5625V26.3594H44.5156L42.875 36.2031H34.5625V56H47.7969C52.3197 56 56 52.3197 56 47.7969V8.20312C56 3.6803 52.3197 0 47.7969 0Z"
                        fill="white"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_266_4137">
                        <rect width="56" height="56" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                )}
                {link.icon === "linkedin" && (
                  <svg
                    width="56"
                    height="56"
                    viewBox="0 0 56 56"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_266_4139)">
                      <path
                        d="M48.3636 0H7.63636C5.61107 0 3.66874 0.804543 2.23664 2.23664C0.804543 3.66874 0 5.61107 0 7.63636L0 48.3636C0 50.3889 0.804543 52.3313 2.23664 53.7634C3.66874 55.1955 5.61107 56 7.63636 56H48.3636C50.3889 56 52.3313 55.1955 53.7634 53.7634C55.1955 52.3313 56 50.3889 56 48.3636V7.63636C56 5.61107 55.1955 3.66874 53.7634 2.23664C52.3313 0.804543 50.3889 0 48.3636 0ZM19.0909 44.3164C19.0913 44.4716 19.0611 44.6255 19.002 44.7691C18.9428 44.9127 18.8559 45.0432 18.7463 45.1531C18.6366 45.2631 18.5064 45.3503 18.3629 45.4098C18.2195 45.4694 18.0657 45.5 17.9105 45.5H12.88C12.7244 45.5004 12.5703 45.4701 12.4265 45.4108C12.2828 45.3514 12.1521 45.2642 12.0421 45.1543C11.9321 45.0443 11.8449 44.9136 11.7856 44.7698C11.7263 44.626 11.6959 44.4719 11.6964 44.3164V23.2273C11.6964 22.9134 11.8211 22.6123 12.043 22.3903C12.265 22.1683 12.5661 22.0436 12.88 22.0436H17.9105C18.2238 22.0445 18.5241 22.1696 18.7454 22.3914C18.9666 22.6133 19.0909 22.9139 19.0909 23.2273V44.3164ZM15.3936 20.0455C14.4497 20.0455 13.5269 19.7655 12.7421 19.2411C11.9572 18.7167 11.3454 17.9713 10.9842 17.0992C10.623 16.2271 10.5285 15.2674 10.7126 14.3416C10.8968 13.4158 11.3513 12.5654 12.0188 11.8979C12.6863 11.2304 13.5367 10.7759 14.4625 10.5917C15.3883 10.4075 16.348 10.5021 17.2201 10.8633C18.0922 11.2245 18.8376 11.8363 19.362 12.6211C19.8864 13.406 20.1664 14.3288 20.1664 15.2727C20.1664 16.5385 19.6635 17.7525 18.7685 18.6476C17.8734 19.5426 16.6594 20.0455 15.3936 20.0455ZM45.3855 44.3991C45.3859 44.5421 45.358 44.6838 45.3035 44.816C45.2489 44.9482 45.1688 45.0684 45.0677 45.1695C44.9665 45.2706 44.8464 45.3508 44.7142 45.4053C44.582 45.4598 44.4403 45.4877 44.2973 45.4873H38.8882C38.7452 45.4877 38.6035 45.4598 38.4713 45.4053C38.339 45.3508 38.2189 45.2706 38.1178 45.1695C38.0167 45.0684 37.9365 44.9482 37.882 44.816C37.8274 44.6838 37.7996 44.5421 37.8 44.3991V34.5195C37.8 33.0432 38.2327 28.0541 33.9405 28.0541C30.6155 28.0541 29.9377 31.4682 29.8041 33.0018V44.4118C29.8041 44.6977 29.6917 44.9721 29.491 45.1757C29.2904 45.3793 29.0177 45.4958 28.7318 45.5H23.5073C23.3645 45.5 23.2232 45.4718 23.0913 45.4171C22.9595 45.3624 22.8397 45.2822 22.7389 45.1811C22.6381 45.08 22.5583 44.96 22.5039 44.828C22.4496 44.696 22.4219 44.5546 22.4223 44.4118V23.135C22.4219 22.9922 22.4496 22.8508 22.5039 22.7188C22.5583 22.5868 22.6381 22.4668 22.7389 22.3657C22.8397 22.2646 22.9595 22.1844 23.0913 22.1297C23.2232 22.075 23.3645 22.0468 23.5073 22.0468H28.7318C29.0204 22.0468 29.2972 22.1615 29.5013 22.3655C29.7054 22.5696 29.82 22.8464 29.82 23.135V24.9741C31.0545 23.1191 32.8841 21.6936 36.7882 21.6936C45.4364 21.6936 45.3791 29.7691 45.3791 34.2045L45.3855 44.3991Z"
                        fill="white"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_266_4139">
                        <rect width="56" height="56" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                )}
                {link.icon === "youtube" && (
                  <svg
                    width="56"
                    height="56"
                    viewBox="0 0 56 56"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_266_4143)">
                      <path
                        d="M24.3999 22.4893V32.7115L33.8221 27.6448L24.3999 22.4893Z"
                        fill="white"
                      />
                      <path
                        d="M41.9556 0H14C6.31111 0 0 6.31111 0 14.0444V42C0 49.6889 6.31111 56 14 56H41.9556C49.6889 56 56 49.6889 56 41.9556V14.0444C56 6.31111 49.6889 0 41.9556 0ZM45.3333 29.3778C45.3333 32.3111 45.0667 35.2889 45.0667 35.2889C45.0667 35.2889 44.7556 37.7778 43.7333 38.8889C42.4 40.3556 40.9333 40.3556 40.2667 40.4444C35.3778 40.8 28.0444 40.8444 28.0444 40.8444C28.0444 40.8444 18.9333 40.7111 16.1333 40.4444C15.3778 40.3111 13.6 40.3556 12.2667 38.8889C11.2 37.7778 10.9333 35.2889 10.9333 35.2889C10.9333 35.2889 10.6667 32.3111 10.6667 29.3778V26.6222C10.6667 23.6889 10.9333 20.7111 10.9333 20.7111C10.9333 20.7111 11.2444 18.2222 12.2667 17.1111C13.6 15.6444 15.0667 15.6 15.7333 15.5111C20.6667 15.1556 28 15.1111 28 15.1111C28 15.1111 35.3333 15.1556 40.2222 15.5111C40.8889 15.6 42.4 15.6444 43.7333 17.0667C44.8 18.1778 45.0667 20.7111 45.0667 20.7111C45.0667 20.7111 45.3333 23.6889 45.3333 26.6222V29.3778Z"
                        fill="white"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_266_4143">
                        <rect width="56" height="56" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                )}
                {link.icon === "website" && (
                  <svg
                    width="56"
                    height="56"
                    viewBox="0 0 56 56"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M37.4255 17.5C35.5792 8.925 31.6417 3.5 28 3.5C24.3582 3.5 20.4207 8.925 18.5745 17.5H37.4255Z"
                      fill="white"
                    />
                    <path
                      d="M17.5 28C17.4996 30.3411 17.6557 32.6797 17.9673 35H38.0328C38.3443 32.6797 38.5004 30.3411 38.5 28C38.5004 25.6589 38.3443 23.3203 38.0328 21H17.9673C17.6557 23.3203 17.4996 25.6589 17.5 28Z"
                      fill="white"
                    />
                    <path
                      d="M18.5745 38.5C20.4207 47.075 24.3582 52.5 28 52.5C31.6417 52.5 35.5792 47.075 37.4255 38.5H18.5745Z"
                      fill="white"
                    />
                    <path
                      d="M41.0095 17.4998H52.0345C50.378 13.7299 47.861 10.4007 44.6855 7.77914C41.5099 5.15762 37.7642 3.31679 33.7488 2.4043C37.0685 5.32505 39.6725 10.7255 41.0095 17.4998Z"
                      fill="white"
                    />
                    <path
                      d="M53.2927 21H41.5677C41.8564 23.3222 42.0007 25.66 41.9999 28C42.0001 30.3401 41.8552 32.6779 41.5659 35H53.2909C54.5671 30.4206 54.5689 25.5794 53.2927 21Z"
                      fill="white"
                    />
                    <path
                      d="M33.7488 53.5955C37.7649 52.6835 41.5113 50.8429 44.6874 48.2214C47.8636 45.5998 50.3811 42.2703 52.038 38.5H41.013C39.6725 45.2743 37.0685 50.6747 33.7488 53.5955Z"
                      fill="white"
                    />
                    <path
                      d="M14.9906 38.5H3.96558C5.62246 42.2703 8.13998 45.5998 11.3162 48.2214C14.4923 50.8429 18.2388 52.6835 22.2548 53.5955C18.9316 50.6747 16.3276 45.2743 14.9906 38.5Z"
                      fill="white"
                    />
                    <path
                      d="M22.2512 2.4043C18.2351 3.3163 14.4887 5.1569 11.3125 7.77844C8.13632 10.4 5.6188 13.7295 3.96191 17.4998H14.9869C16.3274 10.7255 18.9314 5.32505 22.2512 2.4043Z"
                      fill="white"
                    />
                    <path
                      d="M13.9999 28C13.9996 25.6599 14.1446 23.3221 14.4339 21H2.70887C1.43265 25.5794 1.43265 30.4206 2.70887 35H14.4339C14.1446 32.6779 13.9996 30.3401 13.9999 28Z"
                      fill="white"
                    />
                  </svg>
                )}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</footer>
