---
import "../styles/recruitment-roadmap.css";

const steps = [
  {
    id: 1,
    title: "Vòng hồ sơ",
    position: "above",
    class: "s1",
    // File Text Icon
    icon: `<svg width="140" height="140" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M107.031 119H19V14H107.031V119ZM33.8486 100.97V104.151H92.1826V100.97H33.8486ZM33.8486 80.8184H92.1826V77.6367H33.8486V80.8184ZM33.8486 57.4844H92.1826V54.3027H33.8486V57.4844ZM33.8486 34.1514H92.1826V30.9697H33.8486V34.1514Z" fill="#BAE9F2"/>
      <path d="M129.207 120.239C128.702 115.812 128.036 112.765 127.567 110.987C127.202 109.563 126.34 108.308 125.138 107.447C120.165 103.89 115.782 102.193 113.771 101.535C111.798 102.943 109.522 103.773 107.112 103.773C104.703 103.773 102.426 102.943 100.454 101.535C98.4419 102.193 94.0593 103.889 89.0858 107.447C87.883 108.308 87.0215 109.564 86.6588 110.98C86.1883 112.766 85.5232 115.814 85.0181 120.237C84.8713 121.489 85.6293 122.689 86.8207 123.093C89.4308 123.962 95.0738 125 107.112 125C119.149 125 124.792 123.962 127.407 123.091C128.593 122.689 129.351 121.488 129.205 120.238L129.207 120.239Z" fill="#2A6CE0"/>
      <path d="M118.613 87.4349C118.613 80.3458 113.669 75 107.114 75C100.56 75 95.6162 80.3458 95.6162 87.4349C95.6162 94.9459 100.989 101.534 107.114 101.534C113.239 101.534 118.613 94.9459 118.613 87.4349Z" fill="#2A6CE0"/>
      </svg>`
  },
  {
    id: 2,
    title: "Phỏng vấn",
    position: "below",
    class: "s2",
    // Message Circle Question
    icon: `<svg width="140" height="140" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.5 86H18.3809L26.127 93.7461L33.873 86H93.5V23H10.5V86Z" fill="#BAE9F2"/>
      <rect x="25.5" y="38" width="53" height="2" fill="white"/>
      <rect x="25.5" y="52" width="53" height="2" fill="white"/>
      <rect x="25.5" y="66" width="53" height="2" fill="white"/>
      <path d="M129.5 114H121.619L113.873 121.746L106.127 114H46.5V51H129.5V114Z" fill="#2A6CE0"/>
      <path d="M90.2653 87.6H84.7453C84.7453 85.24 86.4653 82.96 88.1053 81.68C89.7453 80.36 91.4653 78.48 91.4653 76.72C91.4653 74.84 90.1053 73.8 87.8253 73.8C85.5853 73.8 83.9853 75 83.0653 77.36L78.3453 74.64C79.9453 70.68 83.7053 68.44 88.0253 68.44C90.4653 68.44 92.5453 69.16 94.3053 70.56C96.1053 71.96 96.9853 73.88 96.9853 76.32C96.9853 82.28 90.2653 84.12 90.2653 87.6ZM89.9053 96.52C88.5853 97.84 86.4253 97.84 85.1053 96.52C83.7853 95.2 83.7853 93.04 85.1053 91.72C86.4253 90.4 88.5853 90.4 89.9053 91.72C91.2253 93.04 91.2253 95.2 89.9053 96.52Z" fill="white"/>
    </svg>`
  },
  {
    id: 3,
    title: "Một ngày trải nghiệm<br>tại Eco Mobile",
    position: "above",
    class: "s3",
    // Briefcase
    icon: `<svg width="140" height="140" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="14.7183" y="31.3457" width="111.564" height="87.9636" fill="#BAE9F2"/>
      <rect x="11.5" y="31.3457" width="118" height="43.9818" fill="#2A6CE0"/>
      <rect x="59.7729" y="67.8184" width="20.3818" height="13.9455" fill="#FAFAFA"/>
      <path d="M86.5905 21.6909V38.8546H53.3359V21.6909H86.5905ZM57.6268 34.5636H82.2996V25.9818H57.6268V34.5636Z" fill="#2A6CE0"/>
      </svg>`
  },
  {
    id: 4,
    title: "Thông báo kết quả<br>chính thức",
    position: "below",
    class: "s4",
    // Megaphone (Updated version)
    icon: `<svg width="140" height="140" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M71.8823 120.028L68.5303 120.924C65.9583 121.608 63.2443 120.618 61.7343 118.446L47.3862 97.9842L71.5062 100.556L76.0842 111.46C77.5463 115 75.5882 119.036 71.8823 120.028ZM25.3201 55.3861L17.5321 57.4861C12.4821 58.8542 9.46015 64.0462 10.8301 69.0981L15.7621 87.5061C17.108 92.5562 22.3001 95.5541 27.3741 94.1842L35.1621 92.1081L25.3201 55.3861ZM105.828 33.4565C105.289 33.4565 104.749 33.32 104.251 33.0324C102.739 32.1603 102.223 30.2281 103.095 28.718L107.662 20.8102C108.532 19.2965 110.47 18.7802 111.977 19.6541C113.488 20.5262 114.005 22.4585 113.133 23.9685L108.566 31.8764C107.979 32.8905 106.917 33.4565 105.828 33.4565ZM110.337 55.4506C108.942 55.4506 107.666 54.5195 107.288 53.1091C106.838 51.4239 107.837 49.6926 109.523 49.239L118.343 46.8772C120.037 46.4273 121.761 47.4229 122.215 49.1118C122.665 50.797 121.665 52.5283 119.98 52.9818L111.16 55.3437C110.881 55.4174 110.608 55.4506 110.337 55.4506ZM125.338 81.3203C124.8 81.3203 124.26 81.1839 123.762 80.8963L115.854 76.3293C114.342 75.4572 113.826 73.5249 114.698 72.0149C115.57 70.5012 117.506 69.9849 119.012 70.8589L126.92 75.4259C128.432 76.298 128.948 78.2302 128.076 79.7402C127.492 80.7543 126.428 81.3203 125.338 81.3203Z" fill="#BAE9F2"/>
      <path d="M83.8389 21.2049L102.931 92.4678C103.506 94.6065 101.751 96.6586 99.5458 96.4226L41.9912 90.2756L32.1548 53.5664L78.9271 19.468C80.7193 18.1627 83.2655 19.0606 83.8389 21.2049Z" fill="#2A6CE0"/>
      </svg>`
  },
  {
    id: 5,
    title: "Tham gia<br>EPM Gen 2.0",
    position: "above",
    class: "s5",
    // Star
    icon: `<svg width="140" height="140" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M122.405 43.9322L86.7753 40.6245L72.6223 7.7276C71.6312 5.42413 68.3686 5.42413 67.3778 7.7276L53.2247 40.6242L17.5954 43.9322C15.1005 44.1637 14.0924 47.2698 15.9746 48.925L42.857 72.564L34.9898 107.505C34.4389 109.952 37.0787 111.871 39.2328 110.591L70 92.3041L100.767 110.591C102.922 111.872 105.561 109.952 105.01 107.505L97.1428 72.564L124.025 48.925C125.908 47.2698 124.899 44.1637 122.405 43.9322Z" fill="#2A6CE0"/>
      <path d="M33.7305 6.84314C35.5392 9.35531 40.6442 20.1441 43.5627 26.4317C44.0217 27.4202 42.7815 28.3131 41.9896 27.5642C36.9528 22.802 28.3406 14.538 26.5319 12.0256C25.1008 10.0379 25.552 7.26625 27.54 5.83508C29.5277 4.40391 32.2993 4.85541 33.7305 6.84314Z" fill="#BAE9F2"/>
      <path d="M106.269 6.84314C104.46 9.35531 99.3551 20.1441 96.4365 26.4317C95.9776 27.4202 97.2177 28.3131 98.0096 27.5642C103.046 22.802 111.658 14.5378 113.467 12.0256C114.898 10.0379 114.447 7.26625 112.459 5.83508C110.472 4.40391 107.7 4.85541 106.269 6.84314Z" fill="#BAE9F2"/>
      <path d="M134.85 80.5119C131.907 79.5521 120.077 77.9666 113.2 77.0965C112.119 76.9596 111.645 78.4125 112.599 78.9393C118.667 82.2911 129.156 87.985 132.099 88.9448C134.428 89.7043 136.931 88.4323 137.691 86.1034C138.45 83.7745 137.178 81.2714 134.85 80.5119Z" fill="#BAE9F2"/>
      <path d="M5.14978 80.5119C8.09277 79.5521 19.9228 77.9666 26.7996 77.0965C27.8806 76.9596 28.3544 78.4125 27.4007 78.9393C21.333 82.2911 10.8432 87.985 7.90018 88.9448C5.57157 89.7043 3.06815 88.4323 2.30866 86.1034C1.54917 83.7745 2.82118 81.2714 5.14978 80.5119Z" fill="#BAE9F2"/>
      <path d="M65.7007 130.565C65.7007 127.47 67.8614 115.731 69.1665 108.923C69.3716 107.853 70.8998 107.853 71.1049 108.923C72.4101 115.731 74.5708 127.47 74.5708 130.565C74.5708 133.014 72.5852 135 70.1359 135C67.6863 135 65.7007 133.014 65.7007 130.565Z" fill="#BAE9F2"/>
      </svg>`
  }
];

---

<section class="recruitment-roadmap" id="roadmap">
  <div class="roadmap-container">
    <h2 class="roadmap-title">LỘ TRÌNH TUYỂN DỤNG</h2>

    <!-- Desktop: SVG Road Animation -->
    <div class="desktop-roadmap">
      <svg
        width="1920"
        height="983"
        viewBox="0 0 1920 983"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="road-svg">
        <path
          class="road-bg-path"
          d="M1990.42 51.959L1737.9 347.582C1657.53 441.669 1516.2 453.03 1421.83 372.99L1419.21 370.768C1371.44 330.251 1301.96 326.589 1249.8 361.789C1216.42 384.318 1194.34 420.409 1189.62 460.247C1179 549.846 1114.32 623.666 1026.9 645.979L1020.25 647.678C935.635 669.274 846.399 637.159 794.951 566.598C760.691 519.609 699.953 500.207 644.797 518.633L639.292 520.472C590.426 536.796 554.304 578.404 545.005 629.078L542.854 640.799C532.604 696.656 500.503 746.12 453.665 778.232C397.546 816.708 326.437 826.103 262.251 803.522L260.007 802.732C214.191 786.615 163.276 795.767 125.941 826.831L-186.416 1086.73L-237.584 1025.23L74.7725 765.334C133.75 716.262 214.181 701.805 286.556 727.267L288.8 728.056C328.914 742.168 373.355 736.296 408.428 712.25C437.7 692.181 457.762 661.267 464.168 626.358L466.319 614.638C480.879 535.297 537.435 470.153 613.943 444.594L619.448 442.755C707.66 413.286 804.801 444.316 859.594 519.466C891.762 563.586 947.558 583.665 1000.46 570.162L1007.12 568.465C1062.49 554.333 1103.45 507.579 1110.17 450.832C1117.65 387.733 1152.51 330.939 1205.05 295.479C1286.69 240.379 1395.63 245.865 1470.96 309.758L1473.58 311.98C1534.33 363.511 1625.32 356.197 1677.07 295.622L1929.58 0L1990.42 51.959Z"
          fill="#2A6CE0"></path>
        <path class="dashed-line-path" d="M-212 1030.65L100.357 770.752C148.513 730.684 214.186 718.88 273.281 739.669L275.525 740.459C327.676 758.805 385.45 751.172 431.047 719.911C469.102 693.82 495.183 653.631 503.511 608.249L505.662 596.528C517.591 531.52 563.93 478.144 626.618 457.202L632.123 455.363C703.807 431.416 782.746 456.632 827.272 517.702C869.08 575.043 941.596 601.14 1010.36 583.59L1017.01 581.892C1088.4 563.67 1141.22 503.382 1149.89 430.209C1155.99 378.741 1184.47 332.299 1227.43 303.304C1294.32 258.154 1383.54 262.728 1445.09 314.932L1447.71 317.156C1525.27 382.941 1641.43 373.603 1707.48 296.272L1960 0.649414" stroke="#BAE9F2" stroke-width="2" stroke-dasharray="10 14"/>
      </svg>

      {steps.map(step => (
        <div class={`roadmap-step ${step.position} ${step.class}`}>
          <!-- Order will be controlled by CSS flex-direction or order property -->
           <!-- Render full SVG icon -->
           <div class="step-icon" set:html={step.icon} />

           <div class="step-content">
             <h3 set:html={step.title} />
           </div>

           <div class="step-line"></div>

           <div class="road-dot"></div>
        </div>
      ))}
    </div>

    <!-- Mobile Vertical Timeline -->
    <div class="mobile-roadmap">
      {steps.map(step => (
        <div class="mobile-step">
          <div class="mobile-icon-wrapper" set:html={step.icon} />
          <div class="mobile-content">
            <h3 set:html={step.title} />
            <p>Bước {step.id}</p>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<script>
  // Script trigger animation when scrolling into view
  const observerCallback = (entries: IntersectionObserverEntry[], observer: IntersectionObserver) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('in-view');
        // Unobserve if you only want it to run once per page load
        observer.unobserve(entry.target);
      }
    });
  };

  const observer = new IntersectionObserver(observerCallback, {
    threshold: 0.2 // Trigger when 20% visible
  });

  const roadmapSection = document.querySelector('.recruitment-roadmap');
  if (roadmapSection) {
    observer.observe(roadmapSection);
  }
</script>
